@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


html {
    font-size: 62.5%;
    background-color: hsl(276, 20%, 62%);

    /* width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: center; */
    
}

body{
    
}
main{
    width: 100%;
    
    background: url('../images/background-pattern-desktop.svg') no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    
    
}

.corpo{grid-area: corpo;}
.content{
    display: grid;
    grid-template-areas: "corpo";
    grid-template-columns: 1fr;
    min-width: 560px;
    margin-top: 10%;
    background-color: blue;
    overflow: hidden;
}
.corpo{
    width: 55rem;
    background-color:  hsl(275, 100%, 97%);
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin: 5%;

    display: flex;
    flex-direction: column;
    
    border-radius: 1rem;
    margin-top: 6%;
    padding: 1rem;
    margin: 0.5rem;
    color: #ffffff;
}


.header {
    /* display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3%; */
    /* background-color: aqua; */
    
}
.photo {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    margin-top: 5% 0;
    border: 2px solid #ffffff;
}

.title {
    display: flex;
    align-items: center;
    gap: 2%;

    font-size: 3.6rem;
    text-align: center;
    color: hsl(292, 42%, 14%);
    font-weight: bold;
    font-family: "Work Sans", sans-serif;

    
}

.informations {
    text-align: center;
    font-size: 0.9rem;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.informations li {
    width: 110%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
   
}
.informations li img {
    width: 0.7rem;
}

a{
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}


@media (min-width: 700px) {
    .content{
        /* width: 100px; */
    }

    .header{
        flex-direction: row;
    }

    .photo {
        width: 10.375rem;
        height: 10.375rem;
        border-radius: 50%;
        margin-top: 5%;
    }
    .title{
        margin-top: 12%;
        text-align: left;
    }

    .informations{
        align-items: start;
    }
    
} 

















/* .container {
    
    background-color: hsl(0, 83%, 53%);
    width: 600px;
    border-radius: 10px;
    overflow: hidden; */
    /* margin-top: 8%; */
    /* position: relative;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 5.5rem;
    font-family: WorkSans-Bold;

    margin: 6% 6%;
}

.accordion-header{
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600; */
    /* text-wrap: balance; */
    /* color: hsl(292, 42%, 14%);
    border: none;
    border-bottom: 1px solid hsl(275, 100%, 97%);
    cursor: pointer;
    padding: 1.5rem  0;
    margin-left: 20px;
    background: none;
    display: flex;
    align-items: center;
    gap: 3%;
    transition: background-color 0.5s ease, color 0.3s ease;
}

.accordion-header:hover{
    color: hsl(292, 16%, 49%);
}
   */
  
  /* Estilo normal do corpo 
.accordion-body {
    
    padding: 0 10px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    max-height: 0;
    overflow: hidden; /* Esconde o conteúdo que ultrapassa 
    border-top: none;
    transition: max-height 0.3s ease; /* Suave ao abrir/fechar 
    
    transition: all 0.5s ease;
    font-family: WorkSans-Regular;
    color: hsl(300, 1%, 78%);
    font-size: 1.6rem;
    margin: 20px 0;
    font-weight: 400;
    margin-left: 20px;
  }

 
  
  /* Estilo do corpo ativo */
  /* .accordion-body.active { */
    /* display: block; */
    /* max-height: 200px; /* Define uma altura máxima ao exibir 
    padding: 10px; */
    /* background-color: #ffffff; /* Azul claro 
   
  }
  
  .button-abrir{
    color: hsl(0, 0%, 100%);
    background-color: hsl(292, 16%, 49%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    
    
} */

/* 
.container .containt-accordion {
    padding: 0 6%;
}

.container .containt-accordion .accordion .accordion-header{
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid hsl(275, 100%, 97%);
    cursor: pointer;
    padding: 1.5rem  0;
    background: none;
    display: flex;
    gap: 10px;
}

.container .containt-accordion .accordion .accordion-header:hover{
    color: hsl(292, 16%, 49%);
}

.container .containt-accordion .accordion .accordion-header .button-abrir{
    color: hsl(0, 0%, 100%);
    background-color: hsl(292, 16%, 49%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; 
    
    
}


.container .containt-accordion .accordion-body p {
    font-family: WorkSans-Regular;
    color: hsl(300, 1%, 78%);
    font-size: 1.6rem;
    margin: 20px 0;
    font-weight: 400;
    
}

.container .containt-accordion .accordion-body {
    display: none;
} */


.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: hsl(228, 45%, 44%); }