@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


html {
    font-size: 62.5%;
    background-color:  hsl(275, 100%, 97%);
}


main{
    width: 100%;
    
    background: url('../images/background-pattern-desktop.svg') no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    
    
}

.corpo{grid-area: corpo;}
.content{
    display: grid;
    grid-template-areas: "corpo";
    grid-template-columns: 1fr;
    max-width: 560px;
    margin-top: 10%;

    overflow: hidden;
}
.corpo{
    width: 55rem;
    background-color:  hsl(0, 0%, 100%);
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin: 5%;

    display: flex;
    flex-direction: column;
    
    border-radius: 1rem;
    margin-top: 6%;
    padding: 1rem;
    margin: 0.5rem;
    color: #ffffff;
}

.photo {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    margin-top: 5% 0;
    border: 2px solid #ffffff;
}

.title {
    display: flex;
    align-items: center;
    gap: 2%;

    font-size: 3.6rem;
    text-align: center;
    color: hsl(292, 42%, 14%);
    font-weight: bold;
    font-family: "Work Sans", sans-serif;

    
}

.informations {
    text-align: center;
    font-size: 0.9rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.informations li {
    width: 110%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    gap: 2%;
   
}
.informations li img {
    width: 0.7rem;
}

a{
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}




.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: hsl(228, 45%, 44%); }